.start{
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}
.start h1{
  text-align: center;
  margin-bottom: 20px;
}
.start form {
    display: flex;
  
   
    flex-direction: column;
    gap: var(--spacing-4, 16px);
  }
 
  .data{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.button{
width: 304px;
height: 40px;
background:1px solid #D4D4D4;
border-radius: 6px;
border: none;
  }

 .input{
box-sizing: border-box;
padding: 8px 12px;
width: 304px;
height: 40px;
border: 1px solid #D4D4D4;
border-radius: 6px;
 }
 
.start button:hover{
  background-color:plum;
}